@font-face {
  font-family: RobotoMono-Regular;
  src: url('../fonts/RobotoMono-Regular.ttf');
}



@font-face {
  font-family: SpaceMono-Regular;
  src: url('../fonts/SpaceMono-Regular.ttf');
}


body  {
  background-image: url("../images/bg.png");
  background-size: cover;

}

.form-box{
  position: absolute;
  width: 1110px;
  height: 500px;
  top: 50px;
  left: 100px;
  background: #FFF9FE;
  border: 10px solid #819CAD;
  box-sizing: border-box;
  font-family: RobotoMono-Regular;
}
