<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" type = text/css" href = "index.css">
    <title>ScopeMobile</title>

    <!font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

</head>

<body>

    <!--navigation bar-->
    <!--
    <div align = "center">
        <ul class = "navbar">
            <li><a href="About"></a></li>


        </ul>
    </div>

    </nav>
    -->

    <nav class = "navbar">
      <h1>ScopeMobile</h1>
    </nav>
    <div class="container input">
      <h5 id='header'class = "pt-5">Fill out the fields below and receive a text message of your horoscope!</h5>
      <form  action="/result" method="POST">


      <div class="container row">
        <h3>Name: </h3>
        <input type="text" name="yourName" >
      </div>
      <div class="container row">
        <h3>Astrological Sign </h3>
        <input type="text" name="yourPartnerName" >
      </div>
      <div class="container row">
        <h3>Phone Number </h3>
        <input type="text" name="number" >
      </div>

    </div>
    <div class="container submit">
      <input type="submit" name="" value="Enter">
    </div>

</body>
