<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset = "UTF-8">
      <link rel = "stylesheet" type = "text/css" href = "submit.css">
      <title>ScopeMobile</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class = "navbar">
      <h1>ScopeMobile</h1>
    </nav>

    <div class="container submit">
        <h3>You'll receive a message shortly!</h3>
        <h3>Press the button below if you have not received a message</h3>

    </div>

      <div class="container submit">
        <input type="submit" name="Submit" value="Enter">
      </div>

</body>
</html>